
a:hover{
  text-decoration: none;
}

/* body{
  /* Location of the image */
  background-image: url('yuvraj.jpeg');

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
} */

html{
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 16px
}



.header{
  position: relative;
  width: 100%
  overflow: hidden;
  height: 105vh;
  padding-top: 10px;

}

.nav{
  display: flex;
  justify-content: center;
  padding: 14px 14px;
  position: absolute;
  transform: all 0.3s;
  background: white;
  z-index: 9;
  top: 0px;
  width: 100%;
}



.nav ul{
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}

.nav ul li{
  display: flex;
}
.nav ul li a{
  font-family: 'Roboto Condensed', sans-sans-serif;
  font-size: 1.1em;
  color: #333;
  padding: 0.25rem 0;
  margin: 0 1.80rem;
  text-transform: uppercase;;
}
.nav ul li.logo .black{
  display: none;
}
.nav ul li.logo a{
  margin: 0 4rem;
}

.nav-icon{
  position: absolute;
  top: 27px;
  right: 30px;
  padding: 5px;
  width: 40px;
  z-index: 1;
  cursor: pointer;
}

.nav-icon span{
  background: #333;
  width: 30px
  height: 1px;
  display: block;
  transition: 300ms linear all;
}



.nav-icon span:nth-child(1),
.nav-icon span:nth-child(3){
  width:20px;
  margin: 0 auto;
}
.nav-icon span:nth-child(2){
  margin: 5px 0;
  width: 32px;
}

.nav-icon:hover span:nth-child(1),
.nav-icon:hover span:nth-child(3){
  width: 30px
}

.full-nav{
  background: #f1c30f;
  color: #18191d;
  position: fixed;
  left: 0;
  top: 5px;
  height: 100%;
  width: 100%;
  padding: 3.75rem;
  z-index: 99;
  overflow-x: hidden;
  visibility: hidden;
  opacity: 0;


  transform: translateY(-100px);
  transition: all .4s ease-in-out;
}

.full-nav.open{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: all .4s ease-in-out;
  z-index: 99;
}

.full-nav .logo{
  display: flex;
  justify-content: center;
  padding: 6rem;
}
.nav2{
  display: flex;
  justify-content: center;
}

.nav2 ul{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 700px;
}

.nav2 ul li{
  display: flex;
  flex: 50%;
  background-color: #f5f5f5;
  padding: 1rem;
  border-bottom: 10px solid #f1c30f;
  border-right: 10px solid #f1c30f;
  transition: all 0.5s;
}




.nav2 ul li a{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.4em;
  color: #18191d;
}

.nav2 ul li a span{
  color: #b9b9b9;

}

.nav2 ul li:hover{
  background-color: #ff1637;
}
.nav2 ul li:hover a,
.nav2 ul li:hover a span{
  color: white;
}

.social-icons a{
  color: white;
  border: 4px solid white;
  width: 50px;
  height: 50px;
  lime-height: 40px;
  font-size: 20px;
  display: inherit;
  text-align: center;
  border-radius: 50px;
  transition: all ease 1s;
  margin-top: 40px;
}

.social-icons a:hover i{
  color: #000;
  margin-top: -10px;
  border-color: #000;
}

.social-icons a:hover i{
  color: #000;
  margin-top: -10px;
  border-color: #000;
}

ul.social-icons.list-inline{
  text-align: center;
  margin-top: 22px;
}
.list-inline > li{
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;

}

.corner-circle{
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 120px;
  background-color: white;
  border-radius: 0 0 0 120px;
  z-index: 2;
}

.nav-close{
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 30px;
  right: 30px;
}

.nav-close span{
  background: #18191d;
  width: 30px;
  height: 1px;
  display: block;
  position: absolute;
  top: 14px;
}
.nav-close span:nth-child(1){
  transform: rotate(45deg);
}
.nav-close span:nth-child(2){
  transform: rotate(-45deg);
}




















.nav.sticky{
  width: 100%;
  position: fixed;
  background-color: white;
  box-shadow: 0 10px 10px -10px rgba(0,0,0,0.35);
  animation-name: animationFade;
  animation-duration: 1s;
  animation-fill-mode: both;
}





.hero{

  position: absolute;
  padding: 0;
  margin-top: 10px;
  left: 0;
  top: 0;
  height:100%;
  width: 100%;
  background-image: url(IMG_5653.jpg);
  background-position: center center ;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: absolute;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;


  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}

.bx-wrapper .social-icons a{
  color: white;
  border: 1px solid white;
  height: 40px;
  width: 40px;
  font-size: 20px;
  display: inherit;
  text-align: center;
  padding-top: 5px;
  transition: all ease 1s;
  background: black;
  border-radius: 0px;

}
.bx-wrapper .social-icons a i{
  position: relative;
  bottom: 7px;

}
.vidContent{

  margin: 0 auto;
   text-align: left;
   width: 800px;
  position: absolute;
  top: 290px;
  color: #f1f1f1;
  width: 100%;
  padding: 10px;
  text-align: left;
}
.vidContent h1{
  font-family: 'Oswald', sans-serif;
  font-size: 5em;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;

}
.vidContent p{
  font-family: cursive;
}
#vidBtn{
  margin-left: 6%;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  font-size: 16px;
  padding: 15px 40px;
  border: none;
  background: #938989;
  color: #333;
  margin: pointer;
  margin-top: 18px;
  border-radius: 50px;
  animation: shadow-pulse 2s infinite;
  text-transform: uppercase;
}
@keyframes shadow-pulse{
  0%{
    box-shadow: 0 0 0 0px rgba(0,0,0,0.2);

  }
  100%{
    box-shadow: 0 0 0 20px rgba(0,0,0,0.3);
  }

}
#vidBtn:hover{
  background: white;
  color: black;

  text-decoration: none;
}

.social-icons a{
  color: #333 !important;
  border: 4px solid white;
  width: 50px;
  height: 50px;
  line-height: 40px;
  font-size: 20px;
  display: inherit;;
  text-align: center;
  border-radius: 50px;
  transition: all ease 1s;
  margin-top: 40px;
  background: white !important;
}

.ul.social-icons.list-inline{

  text-align: center;
  margin-top: 22px;
}
.list-inline>li{
  display: inline-inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

h4.text-dark{
  font-family: 'Oswald', sans-serif;
  font-size: 21px;
}
p.text-secondary{
  font-family: 'Roboto Condensed', sans-serif;
  color: darkgrey;
}
#content{
  margin-top: 0px;
}
.img-wrapper img{
  transition: transform .5s ease;
}
.img-wrapper img:hover{
  transform: scale(1.5);
  cursor: zoom-in;
}

img{
  width: 100%;
  height: auto;
}



.container-fluid{
  padding-left: 0;
  padding-right: 0;
}






#work h3{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 600;
  color: #6c757d !important;
}

.row.no-gutter [class*=col-]{
  padding-left: 0;
  padding-right: 0;
}

.img-wrapper{
  overflow: hidden;
}




@keyframes  animationFade{
  from{
    opacity: 0;
    -webkit-transform: translate3d(0, -100%,0);
    transform: translate3d(0, -100%,0);

  }
  to{
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -o-transform: none;
  }
}






.nav.sticky a{
  color: #18191d;

}

.nav.sticky ul li.logo .white{
  display: none;
}

.nav.sticky ul li.logo .black{
  display: inline-block;
}

.nav.sticky .nav-icon span{
  background: #18191d;
}

.nav ul li.logo a{
  margin: 0 4rem;
}
.yahoo{
  width: 40%;
  height: 300px;
}

.skills {
      max-width: 50%;
      margin: 40px auto;
      text-align: center;
      .hr-text {
        font-size: 20px;
        position: relative;
        border: 0;
        height: 1.5em;
        &:before {
          content: '';
          background: linear-gradient(to right, transparent, $detail, transparent);
          position: absolute;
          left: 0;
          top: 50%;
          width: 100%;
          height: 1px;
        }
        &:after {
          content: attr(data-content);
          position: relative;
          display: inline-block;
          color: black;

          padding: 0 .5em;
          line-height: 1.5em;
          color: $title;
          background-color: black;
        }
      }
}

.abouthelme{


  margin-top: -280px;
  width: 61%;
    float: left;
    padding-left: 7%;
}
.abouthelme h3{
  margin-top: -180px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 50px;

  padding-left: 550px;
}

.yaho{
  margin-top: -180px;
  float: right;
  margin-right: -40%;
  width: 40%;
}
.yaho img{
  border-radius: 50%;
}

hr#two {
  @include background-image(linear-gradient(left, black, white));

  &:before {
    left: 90%;
    width: 20%;
    padding: 1em;
    top: 1px;
  }
}

.button {
  background: #cba1d2;
  border-radius: 100px;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 1.45em;
  margin: 0 15px;
}
