
a:hover{
  text-decoration: none;
}
html{
  box-sizing: border-box;
  font-size: 16px
}

.header{
  position: relative;
  width: 100%
  overflow: hidden;
  height: 105vh;
  padding-top: 10px;

}

.nav{
  display: flex;
  justify-content: center;
  padding: 20px 30px;
  position: absolute;
  transform: all 0.3s;
  background: white;
  z-index: 9;
  top: 0px;
  width: 100%;
}

.nav ul{
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}

.nav ul li{
  display: flex;
}
.nav ul li a{
  font-family: 'Roboto Condensed', sans-sans-serif;
  font-size: 1.1em;
  color: #333;
  padding: 0.25rem 0;
  margin: 0 1.80rem;
  text-transform: uppercase;;
}
.nav ul li.logo .black{
  display: none;
}
.nav ul li.logo a{
  margin: 0 4rem;
}

.nav.sticky{
  width: 100%;
  position: fixed;
  background-color: white;
  box-shadow: 0 10px 10px -10px rgba(0,0,0,0.35);
  animation-name: animationFade;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes  animationFade{
  from{
    opacity: 0;
    -webkit-transform: translate3d(0, -100%,0);
    
  }
  to{
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -o-transform: none;
  }
}






.nav.sticky a{
  color: #181191d;

}

.nav.sticky ul li.logo .white{
  display: none;
}

.nav.sticky ul li.logo .black{
  display: inline-block;
}

.nav.sticky .nav-icon span{
  background: #18191d;
}
